.serviceSquare {
    background: white;
    position: relative;
    width: auto;
    height: 50vw;
    text-align: center;
}

@media  {
    .serviceSquare {
        margin-top: 80px;
    }
}

.textJustify {
    margin-top: 50px;
    margin-left: 6vw;
    /*margin-top: 5vw;*/
    color: #d16a6a;
    width: 50vw;
    height: 40vw;
}

.textJustify h1 {
    font-size: 4vw;
}

.textJustify h2 {
    font-size: 2vw;
}

.h3text {
    padding: 3vw;
    border: 0.5vw dashed #bba3a3;
    font-size: 2vw;
    margin-top: 3vw;
    color: #000000;
    font-style: normal;
}

img {
    margin-top: 10px;
}

.textJustify img {
    /*float:right;*/
    /*margin-left: 150px;*/
    /*width: auto;*/
    height: 50vw;
    position: absolute;
    right: 5%;

}
