.serviceSquare {
    background: white;
    position: relative;
    /*max-width: auto;*/
    width: auto;
    height: 50vw;
    text-align: center;
}

.textJustify {
    margin-left: 6vw;
    margin-top: 5vw;
    color: #d16a6a;
    width: 50vw;
    height: 40vw;
}

.textJustify h1 {
    font-size: 4vw;
}

.textJustify h2 {
    font-size: 2vw;
}

.h3text {
    border: 5px dashed #bba3a3;
    font-size: 2vw;
    margin-top: 3vw;
    color: #000000;
    font-style: normal;
}

.textJustify img {
    float:right;
    margin-left: 150px;
    width: auto;
    height: 40vw;
    position: absolute;
    right: 5%;

}
