.image {
    position: relative;
    width: 100%;
    text-align: center;
}

.centered {
    color: white;
    position: absolute;
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: 'Segoe Script', serif;
    display: flex;
    line-height: 1;
    font-size: 10vw;
    size: 100px;
}

.title2 {
    font-size: 3vw;
}
