.imageHome {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: white;
}

.imageHome img {
    background-color: white;
    margin-top: 0px;
    /*border-radius: 20px;*/
}

.homecentered {
    color: white;
    position: absolute;
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homecentered .hometitle {
    font: 400 36px/0.8 'Great Vibes', Helvetica;
    display: flex;
    left: 50%;
    line-height: 1;
    font-size: 10vw;
}

.homecentered .hometitle2 {
    left: 50%;
    font-size: 3vw;
}

@media {
    .title {
        font-size: 7vw;
    }

    .title2 {
        font-size: 2vw;
    }
}

