.image {
    position: relative;
    width: 100%;
    text-align: center;
    background: #d48585;
}
.lineBracelet {
    background: #d48585;
    height: 50px;
}

.centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bracelet {
    font-size: 70px;
    size: 100px;
}
