.square {
    background: #d48585;
    position: relative;
    height: 50vw;
    text-align: center;
}

.square h1 {
    color: white;
    font-size: 7vw;
}

.square h2 {
    font-size: 2vw;
    color: #784745;
    margin-bottom: 20px;
}

.emptysquare {
    height: 35px;
    background-color: #bbb98e;
}

.slick-list {
    height: 30vw;
    background-color: #bbb98e;
}

.sliderimg {
    margin: 0px auto;
    position: center;
    height: 25vw;
    width: 25vw;
}
.slick-slide {
    /*margin: auto;*/
    display: inline-block;
}


.slick-track {
    position: center;
}


